meta:
  version: 3
  flow: Chip
  substituting_steps:

    # Magic reports some overlaps which can be ignored
    Checker.IllegalOverlap: null

    # Disable KLayout DRC
    #KLayout.DRC: null
    #Checker.KLayoutDRC: null

    # Disable magic DRC
    #Magic.DRC: null
    #Checker.MagicDRC: null

    # Disable KLayout antenna check
    KLayout.Antenna: null
    Checker.KLayoutAntenna: null

    # Disable KLayout density check
    #KLayout.Density: null
    #Checker.KLayoutDensity: null
    
    # Save time
    #OpenROAD.IRDropReport: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null

DESIGN_NAME: chip_top
VERILOG_FILES:
- dir::../src/chip_top.sv
- dir::../src/chip_core.sv
- dir::../src/user_rtl/rtl/aes_core.v
- dir::../src/user_rtl/rtl/at25010_interface.v
- dir::../src/user_rtl/rtl/auth_controller.v
- dir::../src/user_rtl/rtl/main_core.v
- dir::../src/user_rtl/rtl/mfrc522_interface.v
- dir::../src/user_rtl/rtl/nfc_card_detector.v
- dir::../src/user_rtl/rtl/nonce_generator.v
- dir::../src/user_rtl/ip/aes-verilog/addRoundKey.v
- dir::../src/user_rtl/ip/aes-verilog/AES_Decrypt.v
- dir::../src/user_rtl/ip/aes-verilog/AES_Encrypt.v
- dir::../src/user_rtl/ip/aes-verilog/decryptRound.v
- dir::../src/user_rtl/ip/aes-verilog/encryptRound.v
- dir::../src/user_rtl/ip/aes-verilog/inverseMixColumns.v
- dir::../src/user_rtl/ip/aes-verilog/inverseSbox.v
- dir::../src/user_rtl/ip/aes-verilog/inverseShiftRows.v
- dir::../src/user_rtl/ip/aes-verilog/inverseSubBytes.v
- dir::../src/user_rtl/ip/aes-verilog/keyExpansion.v
- dir::../src/user_rtl/ip/aes-verilog/mixColumns.v
- dir::../src/user_rtl/ip/aes-verilog/sbox.v
- dir::../src/user_rtl/ip/aes-verilog/shiftRows.v
- dir::../src/user_rtl/ip/aes-verilog/subBytes.v
- dir::../src/user_rtl/ip/spi-master/SPI_Master.v
- dir::../src/user_rtl/ip/spi-master/SPI_Master_With_Single_CS.v
# Enable plugin for better SystemVerilog support
# USE_SLANG: True

# Slightly smaller file sizes
PRIMARY_GDSII_STREAMOUT_TOOL: klayout

# Specify the pad instances for the padring
PAD_WEST: [
  rst_pad,
  sys_clk_pad,
  uart_clk_pad,
  user_io_0_pad,
  uart_rx_pad,
  uart_tx_pad
]

PAD_SOUTH: [
  user_io_1_pad,
  user_io_2_pad,
  user_io_3_pad,
  user_io_4_pad,
  vdd_pad_0,
  vss_pad_0
]

PAD_EAST: [
  cs_1_pad,
  cs_0_pad,
  spi_miso_pad,
  spi_mosi_pad,
  spi_sclk_pad,
  vss_pad_1
]

PAD_NORTH: [
  vdd_pad_1,
  status_unlock_pad,
  status_fault_pad,
  status_busy_pad,
  iovss_pad_0,
  iovdd_pad_0
]

# SDC files
PNR_SDC_FILE: dir::chip_top.sdc
SIGNOFF_SDC_FILE: dir::chip_top.sdc
FALLBACK_SDC: dir::chip_top.sdc

# Power / ground nets
VDD_NETS:
- VDD
- IOVDD

GND_NETS:
- VSS
- IOVSS

# Clock
CLOCK_PORT: clk_PAD
CLOCK_NET: sys_clk_pad/p2c

CLOCK_PERIOD: 20

# Floorplanning
FP_SIZING: absolute
# 3880umx5070um including 26um
# for the sealring on all sides
DIE_AREA:  [0, 0, 2800, 2800]
CORE_AREA: [450, 450, 2350, 2350]

# Increase for more logic
# on your die
PL_TARGET_DENSITY_PCT: 55
GRT_ALLOW_CONGESTION: true

# PDN
PDN_CORE_RING: True

# Override bondpad name
PAD_BONDPAD_NAME: bondpad_70x70_novias

# Bondpad is not yet included in the PDK
EXTRA_GDS:
- dir::../ip/bondpad_70x70/gds/bondpad_70x70.gds
- dir::../ip/bondpad_70x70_novias/gds/bondpad_70x70_novias.gds
- dir::../IHP-Open-PDK/ihp-sg13g2/libs.ref/sg13g2_io/gds/sg13g2_io.gds

EXTRA_LEFS:
- dir::../ip/bondpad_70x70/lef/bondpad_70x70.lef
- dir::../ip/bondpad_70x70_novias/lef/bondpad_70x70_novias.lef
- dir::../IHP-Open-PDK/ihp-sg13g2/libs.ref/sg13g2_io/lef/sg13g2_io_notracks.lef

IGNORE_DISCONNECTED_MODULES:
- bondpad_70x70
- bondpad_70x70_novias

# Maximum metal width without slotting: 30um
PDN_CORE_RING_VWIDTH: 15
PDN_CORE_RING_HWIDTH: 15
# Ensure minimum spacing for long metals
FP_PDN_CORE_RING_VSPACING: 5
FP_PDN_CORE_RING_HSPACING: 5

PDN_CORE_RING_CONNECT_TO_PADS: True
PDN_ENABLE_PINS: False

# Due to OpenROAD bug
# https://github.com/The-OpenROAD-Project/OpenROAD/issues/8229
#PL_TIME_DRIVEN: False
#PL_ROUTABILITY_DRIVEN: False

# Because we have multiple power pads for one power domain
MAGIC_EXT_UNIQUE: notopports
